@charset "UTF8";

article, aside, footer, header, main, nav, section {
    display: block;
  }
  
  html, body, h1, h2, h3, ul, li, a, p, 
  article, aside, footer, header, main, nav, section {
    padding: 0;
    margin: 0;
  }


.banner {
background-color: #000000;
}


body {
background-color: white;
}


h1 {
color:black
}

p {
color:black;
}

footer {
background-color: hotpink;
}

.navbar {
  background-color: #FF1493;
}

.navbar a {
  color: white;
}

.dropdown .dropbtn {
  color: white;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #C71585;
}

.dropdown-content {
  background-color: pink;
  box-shadow: 0px 8px 16px 0px hotpink;
}

.dropdown-content a {
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
}


