@charset "UTF-8";

article, aside, footer, header, main, nav, section {
    display: block;
  }
  
  html, body, h1, h2, h3, ul, li, a, p, 
  article, aside, footer, header, main, nav, section {
    padding: 0;
    margin: 0;
  }

:root {
  --background: rgba(0, 0, 0, 0.5);
}
.banner {
background-color: #000000;
}

.parent {
background-color: hotpink;
}

body {
background-color: white;
}


h1 {
color:hotpink
}

h2 {
color: hotpink;
}

h3 {
color: hotpink;
}

p {
color:black;
}

span {
  color:whitesmoke;
}

footer {
background-color: hotpink;
}

/* navigation styles start here */

nav {
background-color: var(--background);
}

nav a {
  color: white;
}

nav a:hover {
color: #ff1493
}

nav li:hover {
  color: #fff;
}

.nav-toggle-label {
  border: solid red
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  background: white;
}

/* Navigation dropdown starts here */
body {
  background-color: #f1f1f1;
}

nav a{
  color: #fff;
}

nav li:hover {
  background: #444;
  }
.menu-sub {
  background: #444;
  color: #fff;
}

@media screen and (min-width: 800px) {

  nav a::before {
    background: hotpink;
  }
}