@import url('https://fonts.googleapis.com/css?family=Montserrat:500');



article, aside, footer, header, main, nav, section {
    display: block;
  }
  
  html, body, h1, h2, h3, ul, li, a, p, 
  article, aside, footer, header, main, nav, section {
    padding: 0;
    margin: 0;
  }

/*This is the lay-out*/

.banner {
padding: 0px;
background-color: #000000;
}

.parent {
  background-color: hotpink;
  }

.child {
  width: 33vw;
}

:root {
  --background: rgba(0, 0, 0, 0.5);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
margin: 0;
margin-top: 0;
height: 100px;
font-family: 'Work Sans', sans-serif;
font-weight: 400;
background-color: #f1f1f1;
}

img {
  max-width: 100%;
  height: auto;
}

embed{
  max-width: 75%;
  height: auto;
}

.content {
  height: 200vh;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

  

/*This is for the table */ 
table {
  margin: 0px;
  bottom: 0px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

.tabel2 {
  display: flex;
  justify-content: flex-start;
}

.tabelrand {
  background-color: pink;
}

/* the table ends here*/

h1 {
  font-family: Verdana, Tahoma, sans-serif;
  padding-bottom: 0px;
  color:hotpink
}

h2 {
  color: hotpink;
  }
  
  h3 {
  color: hotpink;
  }

  
  span {
    color:whitesmoke;
  }

p{
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:black;
}

figcaption {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
margin: 0;
top: 0;
}

article {
margin: 0;
}


footer {
height: 100px;
width: 200vw;
max-width: 100%;
background-color: hotpink;
position: relative;
}



td {
  border-width: 1px;
  border-style: solid;

}

/* This buttons are used for bestellen1 t/m bestellen7 page*/
button {
  display: flex;
  justify-self: flex-end;
}


.button4 {
  display: grid;
  justify-content: left;
}
   
 
.button2 {
  display: flex;
  justify-content: right;
}

.button {
  width: 32.5vw;
}

/* This button is used for the navigationbar*/

.button5 {
  background: #000000;
}

/* the form starts here */

.label {
  float: left;
  display: block;
  width: 10vw;
}

/* navigation styles start here */

* {
  box-sizing: border-box;
}

header {
  background: black;
  text-align: center;
  position: relative;
  z-index: 999;
  width: 100%;
}



.nav-toggle {
  display: none;
}

.nav-toggle-label {
  border: solid red;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  border: 1px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
  background: white;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content:'';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  background-color: var(--background);
  position: absolute;
  text-align: left;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.10);
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  text-align: left;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
  display: inline-block;
}


nav a:hover {
  color: #ff1493
  }
  
  nav li:hover {
    color: #fff;
  }


.nav-toggle:checked ~ nav {
 transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



/* Navigation dropdown starts here */


nav {
  box-shadow: 0 0 15px 0 rgba(0,0,0,.10)
}

nav ul{
  list-style: none;
  position: relative;
  display: grid;
}

nav li{
  display: inline-block;
}

nav a{
  text-decoration: none;
  display: block;
  color: #fff;
  padding: .05em;
}

.menu-sub {
  position: absolute;
  left: 0;
  width: 100%;
  display: none;
  padding: 2em;
  margin: 2em;
  background: #444;
  color: #fff;
}


nav li:hover {
  background: #444;
  }

nav li:hover .menu-sub {
  display: block;
}

.menu-sub li {
  display: block;
}

.menu-sub a {
  padding: 0;
  margin-bottom: .35em;
}

.menu-sub a:hover {
  text-decoration: underline;
}

.menu-category {
  margin: 2.5em;
}

.menu-category:first-of-type {
  margin-top: 0;
}

.menu-col-1 {
 float: left;
 width: 25%;
}



/* This is a screen for phones like samsung */

@media screen and (max-width: 600px){
 
  .bannerXL{
    width: 1000px;
  }

  .footerXL{
    width: 1000px;
  }

 .button3 {
   width: 100vw;
 }
 
 .child {
  width: 100vw;
}

label {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
}

input {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 width: 32vw;
}


}



/* This screen is for tablet. */
@media screen and (min-width: 700px) and (max-width: 1299px){
  p {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .responsive {
    width: 1500px;
    height: 550px;
  }

  .button {
    width: 78em;
  }

  .parent {
    width: 65em;
  }
}

/* This screen is for a tablet with more pixels */
@media screen and (min-width: 1100px) and (max-width: 1299px){
  .button {
    width: 1280px;
  }

  .parent {
    width: 1280px;
  }
  
}

/*This is the color for tablets or for bigger pixels */
@media screen and (min-width: 800px) {

  nav a::before {
    background: hotpink;
  }

article, aside, footer, header, main, nav, section {
    display: block;
  }
  
  html, body, h1, h2, h3, ul, li, a, p, 
  article, aside, footer, header, main, nav, section {
    padding: 0;
    margin: 0;
  }

:root {
  --background: rgba(0, 0, 0, 0.5);
}
.banner {
background-color: #000000;
}

.parent {
background-color: hotpink;
}

body {
background-color: white;
}


h1 {
color:hotpink
}

h2 {
color: hotpink;
}

h3 {
color: hotpink;
}

p {
color:black;
}

span {
  color:whitesmoke;
}

footer {
background-color: hotpink;
}

/* navigation styles start here */

nav {
background-color: var(--background);
}

nav a {
  color: white;
}

nav a:hover {
color: #ff1493
}

nav li:hover {
  color: #fff;
}

.nav-toggle-label {
  border: solid red
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  background: white;
}

/* Navigation dropdown for color starts here */
body {
  background-color: #f1f1f1;
}

nav a{
  color: #fff;
}

nav li:hover {
  background: #444;
  }
.menu-sub {
  background: #444;
  color: #fff;
}

  nav a::before {
    background: hotpink;
  }
}

/* This screen is for laptop and computers. */

@media screen and (min-width: 1300px) {
  .nav-toggle-label {
    display: none;
  }

  .responsive {
    width: 1500px;
    height: 550px;
  }

  .parent {
    display: flex;
    width: 32.5vw;
  }

  .button {
    width: 32,5vw;
  }
 
 
  .img {
    width: 500px;
    height: 500px;
    max-height: 32.7vw;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr);
  }

  .container {
    display: flex;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a{
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content:'';
    display: block;
    height: 5px;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;  
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}

.boxContainer{
  position: relative;
  width: 280px;
  height: 42px;
  border: 4px solid hotpink;
  padding: 0px 10px;
  border-radius: 50px;
}

.elementsContainer{
  vertical-align: middle;
  border: black;
}

.search{
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #424242;
  font-weight: 500;
}

.search:focus{
  outline: none;
}

.material-icons{
  font-size: 26;
  color: hotpink;
}